#preview{
	width: 100%;
	height: 150px;
	border: none;
	resize: vertical;
	min-height: 100px;
	max-height: 40vh;
	flex-shrink: 0;
}
body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
#main{
	text-align: center;
	overflow-y: auto;
	overflow-x: hidden;
	width: 50%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	min-height: min-content;
}
#mods .center{
	display: flex;
	align-items: center;
	justify-content: center;
}
#mods .img-fluid{
	max-height: 128px;
	min-height: 75px;
}
#mods .card{
	width: 40vw;
}
#mods .card-title{
	margin-bottom: 0;
}
#mods .settings_button{
	border: none;
}
#mods .settings{
	padding: 1rem;
}
#save{
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 1rem;
	text-transform: uppercase;
	font-weight: bold;
}
i.bi{
	display: flex;
	align-items: center;
	justify-content: center;
}
.help{
	cursor: help;
}
